<body id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="https://res.cloudinary.com/drojjdhis/image/upload/v1594397492/NOME_-_BORPAC_ramgwi.png" alt=""></a> <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Menu <svg class="svg-inline--fa fa-bars fa-w-14 ml-1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512" data-fa-i2svg="">
      <path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path></svg><!-- <i class="fas fa-bars ml-1"></i> --></button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#empresa">A empresa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#portfolio">Produtos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">Campos de Atuação</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#distri">Fornecedores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#team">Clientes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contato</a>
          </li>
        </ul>
      </div>
    </div>
  </nav><!-- Masthead-->
  <header class="masthead">
<!--     <div class="container"> -->
          <video src="Borpac_Intro.mp4" autoplay loop muted class="home_video" ></video>
          <div class="d-flex justify-content-center">
<!--       <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger showup" href="#empresa">Conheça a Empresa</a>
 -->      </div>
<!--   -->
    <!-- <div class="container">
      <div class="masthead-subheading">
        <img src="https://res.cloudinary.com/drojjdhis/image/upload/v1593437042/Logo_dzny9r.gif" class="borpac-logo">
      </div>
      <div class="masthead-heading text-uppercase">
        O maior estoque de correias transportadoras do Brasill
      </div><a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#empresa">Conheça a Empresa</a>
    </div> -->
  </header><!-- empresa-->
  <section class="page-section" id="empresa">
    <div class="container">
      <div class="text-center">
        <h2 class="section-heading text-uppercase">A empresa</h2>
        <h3 class="section-subheading text-muted"> BORPAC COMÉRCIO IMPORTAÇÃO E EXPORTAÇÃO LTDA </h3>
      </div>
      <div class="row">
        <p class="text-intro">Com sede em Contagem – MG e atuando no mercado de produtos industriais de borracha desde junho de 1992, a Borpac Comércio Importação e Exportação Ltda, é uma empresa que se destaca entre os fornecedores de produtos industriais de borracha aos maiores grupos industriais do país. <br> Os produtos comercializados são testados, aprovados e certificados, dentro dos mais rigorosos padrões de qualidade. Constituída por profissionais altamente qualificados, e atuando em todo o território nacional, a empresa preza pela manutenção de parcerias duradouras com seus clientes e fornecedores, expandindo os negócios com qualidade no atendimento e prestando assistência técnica personalizada. </p>
         <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="9"></li>
          </ol>
          <div class="carousel-inner carousel-orange">
            <div class="carousel-item active">
              <img class="ajusteimg" src="https://res.cloudinary.com/drojjdhis/image/upload/v1607106413/PRIMEIRA_FOTO_DO_CARROSSEL_yxeavm.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="ajusteimg" src="https://res.cloudinary.com/drojjdhis/image/upload/v1594236476/491B83C8-E99F-4DAE-95F2-2AE0EB88AB77_mhsusj.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
              <img class="ajusteimg" src="https://res.cloudinary.com/drojjdhis/image/upload/v1594236477/52F7B0D7-78A2-4F66-8B4B-41C1367FA70A_tkqqyv.jpg" alt="Third slide">
            </div>
            <div class="carousel-item">
              <img class="ajusteimg" src="https://res.cloudinary.com/drojjdhis/image/upload/v1594236485/ADA2BC77-1237-4FEB-B164-844A00836A06_vlx4xs.jpg" alt="Fourth slide">
            </div>
            <div class="carousel-item">
              <img class="ajusteimg" src="https://res.cloudinary.com/drojjdhis/image/upload/v1594236473/E293D2AE-D3C0-41C0-8360-D6D0B1CA3D70_2_xt4umt.jpg" alt="Sixth slide">
            </div>
            <div class="carousel-item">
              <img class="ajusteimg" src="https://res.cloudinary.com/drojjdhis/image/upload/v1594236489/88A5D6CE-9F62-40B7-845C-2A370FCD08F9_amiisp.jpg" alt="Seventh slide">
            </div>
            <div class="carousel-item">
              <img class="ajusteimg" src="https://res.cloudinary.com/drojjdhis/image/upload/v1594236489/39F73CFF-D9F8-48A4-9092-496672247595_lv9z5m.jpg" alt="Ninth slide">
            </div>
            <div class="carousel-item">
              <img class="ajusteimg" src="https://res.cloudinary.com/drojjdhis/image/upload/v1594236495/9E49B220-A526-4B6D-AB62-61A8D35D2B38_jglpku.jpg" alt="Tenth slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <div class="col d-flex spacearround bord-bot">
        <a type="submit" class="btn btn-primary btn-xl showbtn custom text-uppercase bcenter" data-toggle="modal" href="#infoempresa">Sobre Nós</a>
        <a type="submit" class="btn btn-primary btn-xl showbtn custom text-uppercase" data-toggle="modal" href="#premiosempresaimagem">Certificados premiações progamas</a>
        <a type="submit" class="btn btn-primary btn-xl showbtn custom text-uppercase bcenter" data-toggle="modal" href="#eventosaimagem">Eventos</a>
      </div>
    </div>
  </section><!-- Portfolio Grid-->
  <section class="page-section bg-light" id="portfolio">
    <div class="container">
        <h2 class="section-heading text-uppercase text-center">Produtos</h2>
        <p class="section-subheading text-muted">As crescentes demandas dos setores industriais exigem Correias Transportadoras de alta performance e melhor relação custo x benefício. Para garantir a eficiência da operação, é de extrema importância o uso de correias de qualidade e com alta resistência. Dessa forma, as correias transportadoras Extrabelt são as melhores respostas às essas necessidades. Suas características de alta qualidade e desempenho conferem elevada confiabilidade operacional aos usuários, que contarão com um produto de excelência. <br> Indicadas para serviços pesados e condições severas, nossas correias apresentam ótima resistência à flexões, impactos e choques. Além de ser imune à umidade e mofo, as correias Extrabelt apresentam uma superior absorção de impactos, baixo alongamento permanente e também uma boa adequação a emendas vulcanizadas e mecânicas.</p>
        <!-- <div class="product-list">
          <li>ABRASÃO E IMPACTO (ST)</li>
          <li>ABRASÃO STANDARD (AS)</li>
          <li>EXTRA ABRASÃO (SAR)</li>
          <li>REAÇÕES E ATAQUES QUÍMICOS (RAS)</li>
          <li>RESISTENTE A ÓLEOS (OR)</li>
          <li>SUPERFÍCIE CORRUGADA (COR)</li>
          <li>ANTIESTÁTICA E ANTICHAMA (PADRÃO MSHA)</li>
          <li>ALTA TEMPERATURA (AT; TSH; SUPER-TSH)</li>
        </div> -->
        <img class="img-fluid3" src="https://res.cloudinary.com/drojjdhis/image/upload/v1607472370/coberturas_com_fundo_ajzknb.png" alt="05-thumbnail">
        <p class="section-subheading text-muted">Contando com equipe de vendas altamente qualificada, a Borpac coloca à disposição de seus clientes, um suporte técnico avançado e produtos de alta qualidade. A equipe de engenheiros e técnicos de aplicação prestam suporte técnico em campo e acompanham a performance dos produtos fornecidos. Além disso, representantes regionais aproximam a relação com os clientes em seus estados de origem, possibilitando um atendimento personalizado em todo o território nacional.</p>
      <div class="row">
        <div class="col-lg-4 col-sm-6 mb-4">
          <div class="portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <svg class="svg-inline--fa fa-plus fa-w-14 fa-3x" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512" data-fa-i2svg="">
                <path fill="currentColor" d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path></svg><!-- <i class="fas fa-plus fa-3x"></i> -->
              </div>
            </div><%= image_tag("https://res.cloudinary.com/drojjdhis/image/upload/v1596316089/CORREIA_TRANSP_TEXTEIS_SERIE_PL_4_epxtpp.jpg", class: "img-fluid", height: "267", width: '356', alt: "01-thumbnail") %></a>
            <div class="portfolio-caption">
              <div class="portfolio-caption-heading">
                CORREIAS TRANSPORTADORAS <br> TÊXTEIS <br> SERIE PL
              </div>
              <div class="portfolio-caption-subheading text-muted">
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">
          <div class="portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <svg class="svg-inline--fa fa-plus fa-w-14 fa-3x sow" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512" data-fa-i2svg="">
                <path fill="currentColor" d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path></svg><!-- <i class="fas fa-plus fa-3x"></i> -->
              </div>
            </div><%= image_tag("https://res.cloudinary.com/drojjdhis/image/upload/v1594231138/9C298803-8469-423F-BF18-FD0D06B51CB4_edfopq.jpg", class: "img-fluid2", height: "267", width: '356', alt: "05-thumbnail" ) %></a>
            <div class="portfolio-caption">
              <div class="portfolio-caption-heading">
                CORREIAS TRANSPORTADORAS <br> STEEL CORD <br> SERIE SC
              </div>
              <div class="portfolio-caption-subheading text-muted">
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">
          <div class="portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <svg class="svg-inline--fa fa-plus fa-w-14 fa-3x" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512" data-fa-i2svg="">
                <path fill="currentColor" d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path></svg><!-- <i class="fas fa-plus fa-3x"></i> -->
              </div>
            </div><%= image_tag("https://res.cloudinary.com/drojjdhis/image/upload/v1596316767/CORREIA_ANTICUT_1_tnlkfw.png", class: "img-fluid2", height: "267", width: '356', alt: "05-thumbnail" ) %></a>
            <div class="portfolio-caption">
              <div class="portfolio-caption-heading">
                CORREIAS TRANSPORTADORAS <br> COM ANTI RASGO <br> "ANTICUT"
              </div>
              <div class="portfolio-caption-subheading text-muted">
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">
          <div class="portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <svg class="svg-inline--fa fa-plus fa-w-14 fa-3x" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512" data-fa-i2svg="">
                <path fill="currentColor" d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path></svg><!-- <i class="fas fa-plus fa-3x"></i> -->
              </div>
            </div><%= image_tag("https://res.cloudinary.com/drojjdhis/image/upload/v1596316896/CORREIA_SIDEWALL_5_voegag.jpg", class: "img-fluid2", height: "267", width: '356', alt: "05-thumbnail" ) %></a>
            <div class="portfolio-caption">
              <div class="portfolio-caption-heading">
                CORREIAS TRANSPORTADORAS SIDEWALL <br> SÉRIE EXTRAWALL
              </div>
              <div class="portfolio-caption-subheading text-muted">
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">
          <div class="portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <svg class="svg-inline--fa fa-plus fa-w-14 fa-3x" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512" data-fa-i2svg="">
                <path fill="currentColor" d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path></svg><!-- <i class="fas fa-plus fa-3x"></i> -->
              </div>
            </div><%= image_tag("https://res.cloudinary.com/drojjdhis/image/upload/v1596316973/CORREIA_TUBULATOR_AIRBELT_1_ayqzto.jpg", class: "img-fluid2", height: "267", width: '356', alt: "05-thumbnail" ) %></a>
            <div class="portfolio-caption">
              <div class="portfolio-caption-heading">
                CORREIAS TRANSPORTADORAS TUBULATOR AIRBELT
              </div>
              <div class="portfolio-caption-subheading text-muted">
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">
          <div class="portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <svg class="svg-inline--fa fa-plus fa-w-14 fa-3x" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512" data-fa-i2svg="">
                <path fill="currentColor" d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path></svg><!-- <i class="fas fa-plus fa-3x"></i> -->
              </div>
            </div><%= image_tag("https://res.cloudinary.com/drojjdhis/image/upload/v1596317093/CORREIA_PIPE_CONVEYOR_1_qxt20c.bmp", class: "img-fluid2", height: "267", width: '356', alt: "05-thumbnail" ) %></a>
            <div class="portfolio-caption">
              <div class="portfolio-caption-heading">
                CORREIAS TRANSPORTADORAS <br>PIPE CONVEYOR
              </div>
              <div class="portfolio-caption-subheading text-muted">
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">
          <div class="portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal7">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <svg class="svg-inline--fa fa-plus fa-w-14 fa-3x" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512" data-fa-i2svg="">
                <path fill="currentColor" d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path></svg><!-- <i class="fas fa-plus fa-3x"></i> -->
              </div>
            </div><%= image_tag("https://res.cloudinary.com/drojjdhis/image/upload/v1596317209/CORREIA_ELEVADORA_TE%CC%82XTIL_3_skulwy.jpg", class: "img-fluid2", height: "267", width: '356', alt: "05-thumbnail" ) %></a>
            <div class="portfolio-caption">
              <div class="portfolio-caption-heading">
                CORREIAS ELEVADORAS <br>TÊXTEIS <br> SÉRIE EPL
              </div>
              <div class="portfolio-caption-subheading text-muted">
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">
          <div class="portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal8">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <svg class="svg-inline--fa fa-plus fa-w-14 fa-3x" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512" data-fa-i2svg="">
                <path fill="currentColor" d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path></svg><!-- <i class="fas fa-plus fa-3x"></i> -->
              </div>
            </div><%= image_tag("https://res.cloudinary.com/drojjdhis/image/upload/v1596317312/CORREIA_ELEVADORA_CABO_DE_AC%CC%A7O_11_kampd5.jpg", class: "img-fluid2", height: "267", width: '356', alt: "05-thumbnail" ) %></a>
            <div class="portfolio-caption">
              <div class="portfolio-caption-heading">
                CORREIAS ELEVADORAS <br>CABO DE AÇO <br> SÉRIE ESC
              </div>
              <div class="portfolio-caption-subheading text-muted">
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">
          <div class="portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal9">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <svg class="svg-inline--fa fa-plus fa-w-14 fa-3x" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512" data-fa-i2svg="">
                <path fill="currentColor" d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path></svg><!-- <i class="fas fa-plus fa-3x"></i> -->
              </div>
            </div><%= image_tag("https://res.cloudinary.com/drojjdhis/image/upload/v1594233299/EFF9AF31-44D6-44EE-BB25-9FD2FAD10C5E_xlcwsm.jpg", class: "img-fluid2", height: "267", alt: "05-thumbnail" ) %></a>
            <div class="portfolio-caption">
              <div class="portfolio-caption-heading">
                EMENDA MECÂNICA <br> DE PARAFUSO <br> SUPER-SCREW
              </div>
              <div class="portfolio-caption-subheading text-muted">
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">
          <div class="portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal10">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <svg class="svg-inline--fa fa-plus fa-w-14 fa-3x" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512" data-fa-i2svg="">
                <path fill="currentColor" d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path></svg><!-- <i class="fas fa-plus fa-3x"></i> -->
              </div>
            </div><%= image_tag("https://res.cloudinary.com/drojjdhis/image/upload/v1596317438/MATERIAL_FLEXCO_3_dmxzqd.jpg", class: "img-fluid", height: "267", width: "356",  alt: "02-thumbnail" ) %></a>
            <div class="portfolio-caption">
              <div class="portfolio-caption-heading">
                  ALINHADORES <br>E RASPADORES <br>FLEXCO
              </div>
              <div class="portfolio-caption-subheading text-muted">
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">
          <div class="portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal11">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <svg class="svg-inline--fa fa-plus fa-w-14 fa-3x" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512" data-fa-i2svg="">
                <path fill="currentColor" d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path></svg><!-- <i class="fas fa-plus fa-3x"></i> -->
              </div>
            </div><%= image_tag("https://res.cloudinary.com/drojjdhis/image/upload/v1596317521/MANGUEIRAS_E_MANGOTES_7_v771x0.jpg", class: "img-fluid", height: "267", alt: "03-thumbnail" ) %></a>
            <div class="portfolio-caption">
              <div class="portfolio-caption-heading">
                MANGUEIRAS E MANGOTES PARA POLPA DE MINÉRIO
              </div>
              <div class="portfolio-caption-subheading text-muted">
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
          <div class="portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal12">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <svg class="svg-inline--fa fa-plus fa-w-14 fa-3x" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512" data-fa-i2svg="">
                <path fill="currentColor" d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path></svg><!-- <i class="fas fa-plus fa-3x"></i> -->
              </div>
            </div><%= image_tag("https://res.cloudinary.com/drojjdhis/image/upload/v1594233242/2423191B-7652-46CA-B247-BA27FAADE2AC_fgqlip.jpg", class: "img-fluid", height: "267", alt: "04-thumbnail" ) %></a>
            <div class="portfolio-caption">
              <div class="portfolio-caption-heading">
                CORREIA GEMINADAS, SINCRONIZADORAS E TRANSMISSÃO EM “V”
              </div>
              <div class="portfolio-caption-subheading text-muted">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- About-->
  <section class="page-section" id="about">
    <div class="container">
      <h2 class="section-heading text-uppercase text-center">Campos de Atuação</h2>
    <div class="row">
      <div class="col-xs-12 col-lg-4">
        <!-- <a data-toggle="modal" href="#areasModal1">
 -->        <div class="card-solutions card-solutions-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(https://res.cloudinary.com/drojjdhis/image/upload/v1594212024/SIDERURGICA_E_FUNDIC%CC%A7A%CC%83O_x3dvph.jpg); visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 0.4s cubic-bezier(0.5, 0, 0, 1) 0s, transform 0.4s cubic-bezier(0.5, 0, 0, 1) 0s;" data-sr-id="0">
          <div class="card-solutions-description">
            <h2>Mineração</h2>
          </div>
        </div></a>
      </div>
      <div class="col-xs-12 col-lg-4">
        <!-- <a data-toggle="modal" href="#areasModal2">
 -->        <div class="card-solutions card-solutions-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(https://res.cloudinary.com/drojjdhis/image/upload/v1593139518/porto_zdn7he.jpg); visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 0.4s cubic-bezier(0.5, 0, 0, 1) 0s, transform 0.4s cubic-bezier(0.5, 0, 0, 1) 0s;" data-sr-id="2">
          <div class="card-solutions-description">
            <h2>Portos</h2>
          </div>
        </div></a>
      </div>
      <div class="col-xs-12 col-lg-4">
        <!-- <a data-toggle="modal" href="#areasModal3">
 -->        <div class="card-solutions card-solutions-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(https://res.cloudinary.com/drojjdhis/image/upload/v1607109450/CAPA_CIMENTEIRA_umsy6j.png); visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 0.4s cubic-bezier(0.5, 0, 0, 1) 0s, transform 0.4s cubic-bezier(0.5, 0, 0, 1) 0s;" data-sr-id="3">
          <div class="card-solutions-description">
            <h2>Cimenteiras</h2>
          </div>
        </div></a>
      </div>
      <div class="col-xs-12 col-lg-4">
        <!-- <a data-toggle="modal" href="#areasModal4">
 -->        <div class="card-solutions card-solutions-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(https://res.cloudinary.com/drojjdhis/image/upload/v1607109444/CAPA_FERTILIZANTE_wiqyzq.jpg); visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 0.4s cubic-bezier(0.5, 0, 0, 1) 0s, transform 0.4s cubic-bezier(0.5, 0, 0, 1) 0s;" data-sr-id="4">
          <div class="card-solutions-description">
            <h2>Fertilizantes</h2>
          </div>
        </div></a>
      </div>
      <div class="col-xs-12 col-lg-4">
        <!-- <a data-toggle="modal" href="#areasModal5">
 -->        <div class="card-solutions card-solutions-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(https://res.cloudinary.com/drojjdhis/image/upload/v1594212022/MINERAC%CC%A7A%CC%83O_nb2tbu.jpg); visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 0.4s cubic-bezier(0.5, 0, 0, 1) 0s, transform 0.4s cubic-bezier(0.5, 0, 0, 1) 0s;" data-sr-id="8">
          <div class="card-solutions-description">
            <h2>Pelotização</h2>
          </div>
        </div></a>
      </div>
      <div class="col-xs-12 col-lg-4">
        <!-- <a data-toggle="modal" href="#areasModal6">
 -->        <div class="card-solutions card-solutions-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(https://res.cloudinary.com/drojjdhis/image/upload/v1596547562/PAPAEL_E_CELULOSE_4_muf615.jpg); visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 0.4s cubic-bezier(0.5, 0, 0, 1) 0s, transform 0.4s cubic-bezier(0.5, 0, 0, 1) 0s;" data-sr-id="11">
          <div class="card-solutions-description">
            <h2>Papel e celulose</h2>
          </div>
        </div></a>
      </div>
      <div class="col-xs-12 col-lg-4">
        <!-- <a data-toggle="modal" href="#areasModal7">
 -->        <div class="card-solutions card-solutions-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(https://res.cloudinary.com/drojjdhis/image/upload/v1607109446/CAPA_CALCINAC%CC%A7A%CC%83O_wm20du.jpg); visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 0.4s cubic-bezier(0.5, 0, 0, 1) 0s, transform 0.4s cubic-bezier(0.5, 0, 0, 1) 0s;" data-sr-id="11">
          <div class="card-solutions-description">
            <h2>CALCINAÇÃO</h2>
          </div>
        </div></a>
      </div>
      <div class="col-xs-12 col-lg-4">
        <!-- <a data-toggle="modal" href="#areasModal8">
 -->        <div class="card-solutions card-solutions-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(https://res.cloudinary.com/drojjdhis/image/upload/v1596547669/PEDREIRA_E_BRITAGEM_2_dhh6yr.jpg); visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 0.4s cubic-bezier(0.5, 0, 0, 1) 0s, transform 0.4s cubic-bezier(0.5, 0, 0, 1) 0s;" data-sr-id="11">
          <div class="card-solutions-description">
            <h2>PEDREIRA E BRITAGEM</h2>
          </div>
        </div></a>
      </div>
      <div class="col-xs-12 col-lg-4">
        <!-- <a data-toggle="modal" href="#areasModal9">
 -->        <div class="card-solutions card-solutions-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(https://res.cloudinary.com/drojjdhis/image/upload/v1596547725/SALINEIRA_2_eejqbv.jpg); visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 0.4s cubic-bezier(0.5, 0, 0, 1) 0s, transform 0.4s cubic-bezier(0.5, 0, 0, 1) 0s;" data-sr-id="11">
          <div class="card-solutions-description">
            <h2>SALINEIRAS</h2>
          </div>
        </div></a>
      </div>
      <div class="col-xs-12 col-lg-4">
        <!-- <a data-toggle="modal" href="#areasModal10"> -->
        <div class="card-solutions card-solutions-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(https://res.cloudinary.com/drojjdhis/image/upload/v1607109445/CAPA_SIDERURGICA_bfj0lr.jpg); visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 0.4s cubic-bezier(0.5, 0, 0, 1) 0s, transform 0.4s cubic-bezier(0.5, 0, 0, 1) 0s;" data-sr-id="11">
          <div class="card-solutions-description">
            <h2>SIDERURGICAS</h2>
          </div>
        </div></a>
      </div>
      <div class="col-xs-12 col-lg-4">
        <!-- <a data-toggle="modal" href="#areasModal11"> -->
        <div class="card-solutions card-solutions-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(https://res.cloudinary.com/drojjdhis/image/upload/v1596547785/FUNDIC%CC%A7A%CC%83O_2_d3wkf4.jpg); visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 0.4s cubic-bezier(0.5, 0, 0, 1) 0s, transform 0.4s cubic-bezier(0.5, 0, 0, 1) 0s;" data-sr-id="11">
          <div class="card-solutions-description">
            <h2>FUNDIÇÕES</h2>
          </div>
        </div></a>
      </div>
      <div class="col-xs-12 col-lg-4">
        <!-- <a data-toggle="modal" href="#areasModal12"> -->
        <div class="card-solutions card-solutions-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(https://res.cloudinary.com/drojjdhis/image/upload/v1596547800/USINA_DE_GRA%CC%83OES_E_SUCROALCOOLEIRAS_3_phrkgz.jpg); visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 0.4s cubic-bezier(0.5, 0, 0, 1) 0s, transform 0.4s cubic-bezier(0.5, 0, 0, 1) 0s;" data-sr-id="11">
          <div class="card-solutions-description">
            <h2>USINA DE GRÃOS</h2>
          </div>
        </div></a>
      </div>
    </div>
    </div>
  </section>
  <section class="page-section bg-light hideformobile showsuply" id="distri">
      <div class="text-center">
        <h2 class="section-heading text-uppercase">Fornecedores Parceiros</h2>
      </div>
      <div class="containerr">
          <div class="carousel3d showbtn">
            <div class="item a"><%= image_tag("https://res.cloudinary.com/drojjdhis/image/upload/v1603294586/EXTRABELT_pjrb9c.png", class: "sos-logo", width: "200", height: "100") %></div>
            <div class="item b"><%= image_tag("https://res.cloudinary.com/drojjdhis/image/upload/v1603294458/H-FLEX_nthbr0.png", class: "sos-logo", width: "200", height: "100") %></div>
            <div class="item c"><%= image_tag("https://res.cloudinary.com/drojjdhis/image/upload/v1603294459/FENNER_cexvtp.png", class: "sos-logo", width: "240", height: "145") %></div>
            <div class="item d"><%= image_tag("https://res.cloudinary.com/drojjdhis/image/upload/v1596636559/Flexco-LOGO_lc0dle.png", class: "sos-logo", width: "200", height: "100") %></div>
            <div class="item e"><%= image_tag("https://res.cloudinary.com/drojjdhis/image/upload/v1603294457/MLT_aixyw1.png", class: "sos-logo", width: "240", height: "145") %></div>
            <div class="item f"><%= image_tag("https://res.cloudinary.com/drojjdhis/image/upload/v1596636753/GATES_LOGO_lcvqq5.png", class: "sos-logo", width: "240", height: "145") %></div>
          </div>
        <div class="prev"><i class="fas fa-angle-right fa-3x"></i></div>
        <div class="next"><i class="fas fa-angle-left fa-3x"></i></div></div>

  </section><!-- Team-->
  <section class="page-section bg-lightt" id="team">
    <div class="container">
      <div class="text-center">
        <h2 class="section-heading text-uppercase">Clientes Parceiros</h2>
      </div>
      <img class="img-fluid2" src="https://res.cloudinary.com/drojjdhis/image/upload/v1596750579/logos_1_pag_ggknuh.png" alt="05-thumbnail">
    </div>
  </section><!-- Clients-->
<!--   <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 my-3">
          <a href="#!"><<a href="#!"><%= image_tag("arcelor.png", class: "sos-logo", width: "200", height: "100") %></a></a>
        </div>
        <div class="col-md-3 col-sm-6 my-3">
          <a href="#!"><img class="img-fluid d-block mx-auto" src="assets/img/logos/designmodo.jpg" alt="designmodo"></a>
        </div>
        <div class="col-md-3 col-sm-6 my-3">
          <a href="#!"><img class="img-fluid d-block mx-auto" src="assets/img/logos/themeforest.jpg" alt="themeforest"></a>
        </div>
        <div class="col-md-3 col-sm-6 my-3">
          <a href="#!"><img class="img-fluid d-block mx-auto" src="assets/img/logos/creative-market.jpg" alt="creative-market"></a>
        </div>
      </div>
    </div>
  </div> --><!-- Contact-->
  <section class="page-section" id="contact">
    <div class="container">
      <div class="text-center">
        <h2 class="section-heading text-uppercase">Contato</h2>
      </div>
      <div class="row">
        <div class="col-sm-12 col-lg-3">
          <div class="contact-phone">
            <h2 class="contact-info-header"><i class="fas fa-phone"></i> Telefones</h2>
            <h2 class="contact-info-content">
              <i class="fas fa-phone"></i> (31) 3311-2700
            </h2>
          </div>
        </div>
        <div class="col-sm-12 col-lg-3">
          <div class="contact-email">
            <h2 class="contact-info-header"><i class="far fa-envelope"></i> E-mail</h2>
            <h2 class="contact-info-content">
              borpac@borpac.com.br
              sac@borpac.com.br
            </h2>
          </div>
        </div>
        <div class="col-sm-12 col-lg-3">
          <div class="contact-email">
            <h2 class="contact-info-header"><i class="fab fa-linkedin"></i> Linkedin</h2>
            <h2 class="contact-info-content">
              <a class="whitelink" href="https://www.linkedin.com/company/borpac/">Clique Aqui</a>
            </h2>
          </div>
        </div>
        <img src="https://res.cloudinary.com/drojjdhis/image/upload/v1603155473/Iso-9001_-_BRANCO_-_TRANSPARENTE_ozmhtl.png" class="iso-logo" alt="">
      </div>
  </div>
  </section><!-- Footer-->
  <footer class="footer py-4">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-4 text-lg-left">
          Copyright © Your Website 2020
        </div>
        <div class="col text-lg-right">
          Rua Rio Paraopeba, 940 • Riacho das Pedras - Cep 32265-000 • Contagem - MG / Brasil
        </div>
      </div>
    </div>
  </footer><!-- Portfolio Modals-->
  <!-- Modal 1-->
  <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal"><i class="fas fa-times fa-2x"></i></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-12">
              <div class="modal-body">
                <!-- Project Details Go Here-->
<!--                 <h2 class="text-uppercase">Correias <br> transportadoras</h2>
 -->                <%= image_tag("https://res.cloudinary.com/drojjdhis/image/upload/v1597925295/CORREIAS_TRANSPORTADORAS_TE%CC%82XTEIS_SERIE_PL_ftz9c6.png", class: "img-fluid2", alt: "05-thumbnail" ) %>
                <br>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                <path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg><!-- <i class="fas fa-times mr-1"></i> -->
                 Voltar a Página Inicial</button>
                 <a href="https://pdfhost.io/v/lC0EnQiZH_Borpac_Correias_Transportadoras_CAPA_CINZAcdr.pdf" target="_blank" ><i class="fa fa-file-download fa-2x margibot"></i> Download Catálogo</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- Modal 2-->
  <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal"><i class="fas fa-times fa-2x"></i></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-12">
              <div class="modal-body">
                <!-- Project Details Go Here-->
<!--                 <h2 class="text-uppercase">CORREIAS TRANSPORTADORAS STEEL CORD SERIE SC</h2>
 -->                <%= image_tag("https://res.cloudinary.com/drojjdhis/image/upload/v1598116553/CORREIAS_TRANSPORTADORAS_STEEL_CORD_SERIE_SC_jflc76.png", class: "img-fluid2", alt: "05-thumbnail" ) %>
                <br>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                <path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg><!-- <i class="fas fa-times mr-1"></i> -->
                 Voltar a Página Inicial</button>
                 <a href="https://pdfhost.io/v/lC0EnQiZH_Borpac_Correias_Transportadoras_CAPA_CINZAcdr.pdf" target="_blank" ><i class="fa fa-file-download fa-2x margibot"></i> Download Catálogo</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- Modal 3-->
  <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal"><i class="fas fa-times fa-2x"></i></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-12">
              <div class="modal-body">
                <!-- Project Details Go Here-->
<!--                 <h2 class="text-uppercase">CORREIAS TRANSPORTADORAS COM ANTI RASGO "ANTICUT"</h2>
 -->                <%= image_tag("https://res.cloudinary.com/drojjdhis/image/upload/v1598116887/CORREIAS_TRANSPORTADORAS_COM_ANTI_RASGO_ANTICUT_01_fqhfks.png", class: "img-fluid2", alt: "05-thumbnail" ) %>
                <br>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                <path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg><!-- <i class="fas fa-times mr-1"></i> -->
                 Voltar a Página Inicial</button>
                 <a href="https://pdfhost.io/v/z6DAvjqWE_Prospecto_Tcnico_das_Correias_Anticut_3_e_4_opocdr.pdf" target="_blank" ><i class="fa fa-file-download fa-2x margibot"></i> Download Catálogo</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- Modal 4-->
  <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal"><i class="fas fa-times fa-2x"></i></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-12">
              <div class="modal-body">
                <!-- Project Details Go Here-->
<!--                 <h2 class="text-uppercase">CORREIAS TRANSPORTADORAS SIDEWALL SÉRIE EXTRAWALL</h2>
 -->                <%= image_tag("https://res.cloudinary.com/drojjdhis/image/upload/v1598452225/CORREIAS_TRANSPORTADORAS_SIDEWALL_SERIE_ESTRAWALL_01_gl6gcq.png", class: "img-fluid2", alt: "05-thumbnail" ) %>
                <%= image_tag("https://res.cloudinary.com/drojjdhis/image/upload/v1598452223/CORREIAS_TRANSPORTADORAS_SIDEWALL_SERIE_ESTRAWALL_02_qqrrzx.png", class: "img-fluid2", alt: "05-thumbnail" ) %>
                <br>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                <path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg><!-- <i class="fas fa-times mr-1"></i> -->
                 Voltar a Página Inicial</button>
                 <a href="https://pdfhost.io/v/lC0EnQiZH_Borpac_Correias_Transportadoras_CAPA_CINZAcdr.pdf" target="_blank" ><i class="fa fa-file-download fa-2x margibot"></i> Download Catálogo 1</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- Modal 5-->
  <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal"><i class="fas fa-times fa-2x"></i></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-12">
              <div class="modal-body">
                <!-- Project Details Go Here-->
<!--                 <h2 class="text-uppercase">CORREIAS TUBULATOR AIRBELT</h2>
 -->                <%= image_tag("https://res.cloudinary.com/drojjdhis/image/upload/v1598452220/CORREIAS_TUBULATOR_AIRBELT_1_hsn1vw.png", class: "img-fluid2", alt: "05-thumbnail" ) %>
                <br>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                <path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg><!-- <i class="fas fa-times mr-1"></i> -->
                 Voltar a Página Inicial</button>
                 <a href="https://pdfhost.io/v/1JzgEEDfk_Correias_Airbelt_Borpacpdf.pdf" target="_blank" ><i class="fa fa-file-download fa-2x margibot"></i> Download Catálogo</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- Modal 6-->
  <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal"><i class="fas fa-times fa-2x"></i></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-12">
              <div class="modal-body">
                <!-- Project Details Go Here-->
<!--                 <h2 class="text-uppercase">CORREIAS PIPE CONVEYOR</h2>
 -->                <%= image_tag("https://res.cloudinary.com/drojjdhis/image/upload/v1598117446/CORREIAS_PIPE_CONVEYOR_01_eb6mvj.png", class: "img-fluid2", alt: "05-thumbnail" ) %>
                <%= image_tag("https://res.cloudinary.com/drojjdhis/image/upload/v1598117448/CORREIAS_PIPE_CONVEYOR_02_bgv7cp.png", class: "img-fluid2", alt: "05-thumbnail" ) %>
                <br>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                <path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg><!-- <i class="fas fa-times mr-1"></i> -->
                 Voltar a Página Inicial</button>
                 <a href="https://pdfhost.io/v/lC0EnQiZH_Borpac_Correias_Transportadoras_CAPA_CINZAcdr.pdf" target="_blank" ><i class="fa fa-file-download fa-2x margibot"></i> Download Catálogo</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal"><i class="fas fa-times fa-2x"></i></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-12">
              <div class="modal-body">
                <!-- Project Details Go Here-->
<!--                 <h2 class="text-uppercase">CORREIAS ELEVADORAS TÊXTEIS SÉRIE EPL</h2>
 -->                <%= image_tag("https://res.cloudinary.com/drojjdhis/image/upload/v1598452729/CORREIAS_ELEVADORAS_TE%CC%82XTEIS_SERIE_EPL_f00cw0.png", class: "img-fluid2", alt: "05-thumbnail" ) %>
                <br>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                <path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg><!-- <i class="fas fa-times mr-1"></i> -->
                 Voltar a Página Inicial</button>
                 <a href="https://pdfhost.io/v/QNvA8kQhA_CATALOGO_CORREIAS_ELEVADORASpdf.pdf" target="_blank" ><i class="fa fa-file-download fa-2x margibot"></i> Download Catálogo</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio-modal modal fade" id="portfolioModal8" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal"><i class="fas fa-times fa-2x"></i></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-12">
              <div class="modal-body">
                <!-- Project Details Go Here-->
<!--                 <h2 class="text-uppercase">CORREIAS ELEVADORAS CABO DE AÇO SÉRIE ESC</h2>
 -->                <%= image_tag("https://res.cloudinary.com/drojjdhis/image/upload/v1598117770/CORREIAS_ELEVADORAS_CABO_DE_AC%CC%A7O_SERIE_ESC_nlbwk8.png", class: "img-fluid2", alt: "05-thumbnail" ) %>
                <br>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                <path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg><!-- <i class="fas fa-times mr-1"></i> -->
                 Voltar a Página Inicial</button>
                 <a href="https://pdfhost.io/v/QNvA8kQhA_CATALOGO_CORREIAS_ELEVADORASpdf.pdf" target="_blank" ><i class="fa fa-file-download fa-2x margibot"></i> Download Catálogo</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio-modal modal fade" id="portfolioModal9" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal"><i class="fas fa-times fa-2x"></i></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-12">
              <div class="modal-body">
                <!-- Project Details Go Here-->
<!--                 <h2 class="text-uppercase">EMENDA MECÂNICA DE PARAFUSO SUPER-SCREW</h2>
 -->                <%= image_tag("https://res.cloudinary.com/drojjdhis/image/upload/v1598117981/EMENDA_MECA%CC%82NICA_DE_PARAFUSO_SUPER-SCREW_01_ro8iso.png", class: "img-fluid2", alt: "05-thumbnail" ) %>
                <%= image_tag("https://res.cloudinary.com/drojjdhis/image/upload/v1598117985/EMENDA_MECA%CC%82NICA_DE_PARAFUSO_SUPER-SCREW_02_aymyua.png", class: "img-fluid2", alt: "05-thumbnail" ) %>
                <br>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                <path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg><!-- <i class="fas fa-times mr-1"></i> -->
                 Voltar a Página Inicial</button>
                 <a href="https://pdfhost.io/v/IlXUIR~kc_Sem_ttulo1.pdf" target="_blank" ><i class="fa fa-file-download fa-2x margibot"></i> Download Catálogo 1</a>
                 <a href="https://pdfhost.io/v/.A.wMTOiK_Catlogo_tcnico_Sscrewcdr.pdf" target="_blank" ><i class="fa fa-file-download fa-2x margibot"></i> Download Catálogo 2</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio-modal modal fade" id="portfolioModal10" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal"><i class="fas fa-times fa-2x"></i></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-12">
              <div class="modal-body">
                <!-- Project Details Go Here-->
<!--                 <h2 class="text-uppercase">ALINHADORES E RASPADORES FLEXCO</h2>
 -->                <%= image_tag("https://res.cloudinary.com/drojjdhis/image/upload/v1598118201/ALINHADORES_E_RASPADORES_FLEXCO_e4vv3n.png", class: "img-fluid2", alt: "05-thumbnail" ) %>
                <br>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                <path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg><!-- <i class="fas fa-times mr-1"></i> -->
                 Voltar a Página Inicial</button>
                 <a href="https://pdfhost.io/v/aDo3uV8ep_CATALOGO_FLEXCOpdf.pdf" target="_blank" ><i class="fa fa-file-download fa-2x margibot"></i> Download Catálogo</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio-modal modal fade" id="portfolioModal11" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal"><i class="fas fa-times fa-2x"></i></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-12">
              <div class="modal-body">
                <!-- Project Details Go Here-->
<!--                 <h2 class="text-uppercase">MANGUEIRAS E MANGOTES PARA POLPA DE MINÉRIO</h2>
 -->                <%= image_tag("https://res.cloudinary.com/drojjdhis/image/upload/v1598118316/MANGUEIRAS_E_MANGOTES_PARA_POLPA_DE_MINE%CC%81RIO_pctbhn.png", class: "img-fluid2", alt: "05-thumbnail" ) %>
                <br>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                <path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg><!-- <i class="fas fa-times mr-1"></i> -->
                 Voltar a Página Inicial</button>
                 <a href="https://pdfhost.io/v/GmmNareC3_CATALOGO_HFLEXdocxpdf.pdf" target="_blank" ><i class="fa fa-file-download fa-2x margibot"></i> Download Catálogo</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio-modal modal fade" id="portfolioModal12" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal"><i class="fas fa-times fa-2x"></i></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-12">
              <div class="modal-body">
                <!-- Project Details Go Here-->
<!--                 <h2 class="text-uppercase">CORREIA DE TRANSMISSÃO EM "V" GEMINADAS E SINCRONIZADORAS</h2>
 -->                <%= image_tag("https://res.cloudinary.com/drojjdhis/image/upload/v1598118386/CORREIAS_DE_TRANSMISSA%CC%83O_EM_V_GEMINADAS_E_SINCRONIZADORAS_ylbhac.png", class: "img-fluid2", alt: "05-thumbnail" ) %>
                <br>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                <path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg><!-- <i class="fas fa-times mr-1"></i> -->
                 Voltar a Página Inicial</button>
                 <a href="https://pdfhost.io/v/GmmNareC3_CATALOGO_HFLEXdocxpdf.pdf" target="_blank" ><i class="fa fa-file-download fa-2x margibot"></i> Download Catálogo</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio-modal modal fade" id="infoempresa" tabindex="-1" role="dialog" aria-hidden="true">
    <!-- <div class="modal-dialog">
        <div class="close-modal" data-dismiss="modal"><i class="fas fa-times fa-2x"></i></div>
          <div class="wrapper-page" style="">
            <div class="container-page">
              <h1 class="page-title text-center">A Empresa</h1>
              <img class="img-fluid2" src="https://res.cloudinary.com/drojjdhis/image/upload/v1607106827/SOBRE_NO%CC%81S_hnrfb6.png" alt="05-thumbnail">
              <p class="page-content">Com sede em Contagem – MG e atuando no mercado de produtos industriais de borracha desde junho de 1992, a Borpac Comércio Importação e Exportação Ltda, é uma empresa que se destaca entre os fornecedores de produtos industriais de borracha aos maiores grupos industriais do país. Os produtos comercializados são testados, aprovados e certificados, dentro dos mais rigorosos padrões de qualidade.
              Constituída por profissionais altamente qualificados, e atuando em todo o território nacional, a empresa preza pela manutenção de parcerias duradouras com seus clientes e fornecedores, expandindo os negócios com qualidade no atendimento e prestando assistência técnica personalizada.
              </p>
              <h1 class="page-subsubtitle text-uppercase">Missão</h1>
              <p class="page-content">Comercializar produtos adequados às necessidades do mercado com alto padrão tecnológico e assistência personalizada.</p>
              <h1 class="page-subsubtitle text-uppercase">Política e Qualidade</h1>
              <p class="page-content">A Borpac busca na comercialização de seus produtos, a melhoria contínua do seu sistema de gestão da qualidade, atendendo aos requisitos regulamentares e estatutários, prestando assistência técnica personalizada, motivando seus empregados, preservando o meio ambiente e contribuindo para a prosperidade e bem-estar da sociedade.</p>
              <h1 class="page-subsubtitle text-uppercase">Responsabilidade Social</h1>
              <p class="page-content"> O sistema de gestão da qualidade estimula os colaboradores a desenvolverem interesses e participarem ativamente na melhoria do serviço e ambiente de trabalho, equilíbrio entre a vida profissional e familiar, crescimento individual, participação em projetos sociais da comunidade onde se encontra estabelecida respeito e proteção ao meio ambiente.</p>
            </div>
          </div>
    </div> -->
    <div class="modal-dialog">
      <div class="col-lg-12">
        <div class="wrapper-pagee" style="">
          <div class="close-modal" data-dismiss="modal"><i class="fas fa-times fa-2x"></i></div>
          <h1 class="page-title text-center">Sobre Nós</h1>
          <img class="img-fluid2 bigcenter" src="https://res.cloudinary.com/drojjdhis/image/upload/v1607106827/SOBRE_NO%CC%81S_hnrfb6.png" alt="05-thumbnail">
        </div>
      </div>
    </div>
  </div><!-- Modal 3--><!-- Bootstrap core JS-->
  <div class="portfolio-modal modal fade" id="premiosempresaimagem" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="col-lg-12">
        <div class="wrapper-pagee" style="">
          <div class="close-modal" data-dismiss="modal"><i class="fas fa-times fa-2x"></i></div>
          <h1 class="page-title text-center">CERTIFICADOS, PROGRAMAS E PREMIAÇÕES</h1>
          <img class="img-fluid2 bigcenter" src="https://res.cloudinary.com/drojjdhis/image/upload/v1607106834/CERTIFICADO_PREMIAC%CC%A7O%CC%83ES_PROGRAMAS_sigcfv.png" alt="05-thumbnail">
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio-modal modal fade" id="eventosaimagem" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="col-lg-12">
        <div class="wrapper-pagee" style="">
          <div class="close-modal" data-dismiss="modal"><i class="fas fa-times fa-2x"></i></div>
          <h1 class="page-title text-center">Eventos</h1>
          <img class="img-fluid2 bigcenter" src="https://res.cloudinary.com/drojjdhis/image/upload/v1607106829/EVENTOS_flo2vt.png" alt="05-thumbnail">
        </div>
      </div>
    </div>
  </div>
  <!-- Modal das areas -->
  <div class="portfolio-modal modal fade" id="areasModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal"><i class="fas fa-times fa-2x"></i></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-12">
              <div class="modal-body">
                <!-- Project Details Go Here-->
                <h2 class="text-uppercase org-title">Mineração</h2>
                <%= image_tag("https://res.cloudinary.com/drojjdhis/image/upload/v1596548850/MINERAC%CC%A7A%CC%83O_2_pecg2h.png", class: "img-fluid2", alt: "05-thumbnail" ) %>
                <%= image_tag("https://res.cloudinary.com/drojjdhis/image/upload/v1596548854/MINERAC%CC%A7A%CC%83O_1_v8mgmd.png", class: "img-fluid2", alt: "05-thumbnail" ) %>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                <path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg><!-- <i class="fas fa-times mr-1"></i> -->
                 Voltar a Página Inicial</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio-modal modal fade" id="areasModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal"><i class="fas fa-times fa-2x"></i></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-12">
              <div class="modal-body">
                <!-- Project Details Go Here-->
                <h2 class="text-uppercase org-title">Portos</h2>
                <img class="img-fluid2" src="https://res.cloudinary.com/drojjdhis/image/upload/v1596549519/PORTOS_1_zykbkt.png" alt="05-thumbnail">
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                <path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg><!-- <i class="fas fa-times mr-1"></i> -->
                 Voltar a Página Inicial</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio-modal modal fade" id="areasModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal"><i class="fas fa-times fa-2x"></i></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-12">
              <div class="modal-body">
                <!-- Project Details Go Here-->
                <h2 class="text-uppercase org-title">CORREIAS TRANSPORTADORAS COM ANTI RASGO "ANTICUT"</h2>
                <img class="img-fluid2" src="https://res.cloudinary.com/drojjdhis/image/upload/v1596548850/MINERAC%CC%A7A%CC%83O_2_pecg2h.png" alt="05-thumbnail">
                <img class="img-fluid2" src="https://res.cloudinary.com/drojjdhis/image/upload/v1596548854/MINERAC%CC%A7A%CC%83O_1_v8mgmd.png" alt="05-thumbnail">
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                <path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg><!-- <i class="fas fa-times mr-1"></i> -->
                 Voltar a Página Inicial</button>
                 <a href="https://res.cloudinary.com/drojjdhis/image/upload/v1598275040/CATALOGO_H-FLEXdocx_kekqhd.pdf" target="_blank" ><i class="fa fa-file-download fa-2x margibot"></i> Download Catálogo</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio-modal modal fade" id="areasModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal"><i class="fas fa-times fa-2x"></i></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-12">
              <div class="modal-body">
                <!-- Project Details Go Here-->
                <h2 class="text-uppercase org-title">Fertilizantes</h2>
                <img class="img-fluid2" src="https://res.cloudinary.com/drojjdhis/image/upload/v1596549529/FERTILIZANTES_1_axlemt.png" alt="05-thumbnail">
                <img class="img-fluid2" src="https://res.cloudinary.com/drojjdhis/image/upload/v1596549519/FERTILIZANTES_2_ekkivv.png" alt="05-thumbnail">
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                <path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg><!-- <i class="fas fa-times mr-1"></i> -->
                 Voltar a Página Inicial</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio-modal modal fade" id="areasModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal"><i class="fas fa-times fa-2x"></i></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-12">
              <div class="modal-body">
                <!-- Project Details Go Here-->
                <h2 class="text-uppercase org-title">Pelotização</h2>
                <img class="img-fluid2" src="https://res.cloudinary.com/drojjdhis/image/upload/v1596549514/PELOTIZA%C3%87%C3%83O_1_uulnze.png" alt="05-thumbnail">
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                <path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg><!-- <i class="fas fa-times mr-1"></i> -->
                 Voltar a Página Inicial</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio-modal modal fade" id="areasModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal"><i class="fas fa-times fa-2x"></i></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-12">
              <div class="modal-body">
                <!-- Project Details Go Here-->
                <h2 class="text-uppercase org-title">Papel e Celulose</h2>
                <img class="img-fluid2" src="https://res.cloudinary.com/drojjdhis/image/upload/v1596549513/PAPAEL_E_CELULOSE_1_mwkgri.png" alt="05-thumbnail">
                <img class="img-fluid2" src="https://res.cloudinary.com/drojjdhis/image/upload/v1596549512/PAPAEL_E_CELULOSE_2_fyer6r.png" alt="05-thumbnail">
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                <path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg><!-- <i class="fas fa-times mr-1"></i> -->
                 Voltar a Página Inicial</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio-modal modal fade" id="areasModal7" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal"><i class="fas fa-times fa-2x"></i></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-12">
              <div class="modal-body">
                <!-- Project Details Go Here-->
                <h2 class="text-uppercase org-title">Calcinação</h2>
                <img class="img-fluid2" src="https://res.cloudinary.com/drojjdhis/image/upload/v1596548850/MINERAC%CC%A7A%CC%83O_2_pecg2h.png" alt="05-thumbnail">
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                <path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg><!-- <i class="fas fa-times mr-1"></i> -->
                 Voltar a Página Inicial</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio-modal modal fade" id="areasModal8" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal"><i class="fas fa-times fa-2x"></i></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-12">
              <div class="modal-body">
                <!-- Project Details Go Here-->
                <h2 class="text-uppercase org-title">Pedreira e Britagem</h2>
                <img class="img-fluid2" src="https://res.cloudinary.com/drojjdhis/image/upload/v1596549508/PEDREIRA_E_BRITAGEM_1_l4kdfr.png" alt="05-thumbnail">
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                <path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg><!-- <i class="fas fa-times mr-1"></i> -->
                 Voltar a Página Inicial</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio-modal modal fade" id="areasModal9" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal"><i class="fas fa-times fa-2x"></i></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-12">
              <div class="modal-body">
                <!-- Project Details Go Here-->
                <h2 class="text-uppercase org-title">Salineiras</h2>
                <img class="img-fluid2" src="https://res.cloudinary.com/drojjdhis/image/upload/v1596549502/SALINEIRA_1_gmpq65.png" alt="05-thumbnail">
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                <path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg><!-- <i class="fas fa-times mr-1"></i> -->
                 Voltar a Página Inicial</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio-modal modal fade" id="areasModal10" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal"><i class="fas fa-times fa-2x"></i></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-12">
              <div class="modal-body">
                <!-- Project Details Go Here-->
                <h2 class="text-uppercase org-title">Siderurgicas</h2>
                <img class="img-fluid2" src="https://res.cloudinary.com/drojjdhis/image/upload/v1596549497/SIDERURGIA_1_pzewgk.png" alt="05-thumbnail">
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                <path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg><!-- <i class="fas fa-times mr-1"></i> -->
                 Voltar a Página Inicial</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio-modal modal fade" id="areasModal11" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal"><i class="fas fa-times fa-2x"></i></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-12">
              <div class="modal-body">
                <!-- Project Details Go Here-->
                <h2 class="text-uppercase org-title">Fundições</h2>
                <img class="img-fluid2" src="https://res.cloudinary.com/drojjdhis/image/upload/v1596549516/FUNDI%C3%87%C3%83O_1_q1wu68.png" alt="05-thumbnail">
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                <path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg><!-- <i class="fas fa-times mr-1"></i> -->
                 Voltar a Página Inicial</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio-modal modal fade" id="areasModal12" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal"><i class="fas fa-times fa-2x"></i></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-12">
              <div class="modal-body">
                <!-- Project Details Go Here-->
                <h2 class="text-uppercase org-title">Usina de grãos E SUCROALCOOLEIRAS</h2>
                <img class="img-fluid2" src="https://res.cloudinary.com/drojjdhis/image/upload/v1596549505/USINA_DE_GR%C3%83O_E_SUCROALCOOLEIRAS_khayeb.png" alt="05-thumbnail">
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                <path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg><!-- <i class="fas fa-times mr-1"></i> -->
                 Voltar a Página Inicial</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script> <!-- Third party plugin JS-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script> <!-- Contact form JS-->
  <script src="assets/mail/jqBootstrapValidation.js"></script>
  <script src="assets/mail/contact_me.js"></script> <!-- Core theme JS-->
  <script src="js/scripts.js"></script>
</body>

<script>
  (function ($) {
    "use strict"; // Start of use strict

    // Smooth scrolling using jQuery easing
    $('a.js-scroll-trigger[href*="#"]:not([href="#"])').click(function () {
        if (
            location.pathname.replace(/^\//, "") ==
                this.pathname.replace(/^\//, "") &&
            location.hostname == this.hostname
        ) {
            var target = $(this.hash);
            target = target.length
                ? target
                : $("[name=" + this.hash.slice(1) + "]");
            if (target.length) {
                $("html, body").animate(
                    {
                        scrollTop: target.offset().top - 72,
                    },
                    1000,
                    "easeInOutExpo"
                );
                return false;
            }
        }
    });

    // Closes responsive menu when a scroll trigger link is clicked
    $(".js-scroll-trigger").click(function () {
        $(".navbar-collapse").collapse("hide");
    });

    // Activate scrollspy to add active class to navbar items on scroll
    $("body").scrollspy({
        target: "#mainNav",
        offset: 74,
    });

    // Collapse Navbar
    var navbarCollapse = function () {
        if ($("#mainNav").offset().top > 100) {
            $("#mainNav").addClass("navbar-shrink");
        } else {
            $("#mainNav").removeClass("navbar-shrink");
        }
    };
    // Collapse now if page is not at top
    navbarCollapse();
    // Collapse the navbar when page is scrolled
    $(window).scroll(navbarCollapse);
})(jQuery); // End of use strict
</script>
<script>
  var carousel3d = $(".carousel3d"),
    currdeg = 0;

  $(".prev").on("click", { d: "n" }, rotate);
  $(".next").on("click", { d: "p" }, rotate);

  function rotate(e) {
    if (e.data.d == "n") {
      currdeg = currdeg - 60;
    }
    if (e.data.d == "p") {
      currdeg = currdeg + 60;
    }
    carousel3d.css({
      "-webkit-transform": "rotateY(" + currdeg + "deg)",
      "-moz-transform": "rotateY(" + currdeg + "deg)",
      "-o-transform": "rotateY(" + currdeg + "deg)",
      transform: "rotateY(" + currdeg + "deg)"
    });
  }
</script>

